{% extends "auctions/layout.html" %}

{% block title %}
  {{ listing.title }}
{% endblock %}

{% block body %}
  <h2>
    {{ listing.title }}
  </h2>
  <img class="img-fluid my-2 rounded"
       src="{{ listing.image_url }}"
       alt="{{ listing.title }}">
  <p class="mt-4">
    {{ listing.description }}
  </p>
  <div class="my-2">
    <h4>
      ${{ current_price }}
    </h4>
    <p>
      {{ num_bids }} bid(s) so far.
      {% if leading_bidder %}
        Yours is the highest bid.
      {% else %}
        You are not the leading bidder.
      {% endif %}
    </p>
    {% if bid_message %}
      <div class="alert alert-danger" role="alert">
        {{ bid_message }}
      </div>
    {% endif %}
    {% if user.is_authenticated %}
      <form action="{% url 'listing' listing.id %}" method="post">
{% csrf_token %}
        <input type="hidden" name="form_type" value="bid">
          {{ bid_form }}
        <input type="submit" value="Place Bid" class="btn btn-primary">
      </form>
    {% endif %}
  </div>
  <div class="my-4">
    <h5>
      Details
    </h5>
    <ul>
      <li>
        <strong>Category: </strong><a href="{% url 'category' listing.get_category_display %}">{{ listing.get_category_display }}</a>
      </li>
      <li>
        <strong>Created by: </strong>{{ listing.created_by }}
      </li>
    </ul>
  </div>
{% endblock %}
