{% extends "auctions/layout.html" %}

{% block body %}
  <h2>
    {{ listing.title }}
  </h2>
  <img class="img-fluid my-2 rounded"
       src="{{ listing.image_url }}"
       alt="{{ listing.title }}">
  <p class="mt-4">
    {{ listing.description }}
  </p>
  <h4>
    ${{ listing.starting_bid }}
  </h4>
  <div class="my-4">
    <h5>
      Details
    </h5>
    <ul>
      <li>
        <strong>Category: </strong><a href="{% url 'category' listing.get_category_display %}">{{ listing.get_category_display }}</a>
      </li>
      <li>
        <strong>Created by: </strong>{{ listing.created_by }}
      </li>
    </ul>
  </div>
{% endblock %}
