{% extends "auctions/layout.html" %}

{% block title %}
  {{ listing.title }}
{% endblock %}

{% block body %}
  <div class="d-flex justify-content-between mb-3">
    <h2>
      {{ listing.title }}
    </h2>
    {% if user.is_authenticated %}
      <form action="{% url 'watch' listing.id %}" method="post">
{% csrf_token %}
        {% if on_watchlist %}
          <input type="submit" value="Remove from Watchlist" class="btn btn-secondary">
        {% else %}
          <input type="submit" value="Add to Watchlist" class="btn btn-primary">
        {% endif %}
      </form>
    {% endif %}
  </div>
  {% if not listing.is_active %}
    {% if user.is_authenticated and leading_bidder %}
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">
          Congratulations!
        </h4>
        <p class="mb-0">
          You have won this auction.
        </p>
      </div>
    {% endif %}
    <h5 class="text-muted mb-4">
      This listing is closed.
    </h5>
  {% endif %}
  <img class="img-fluid mb-3 rounded"
       src="{{ listing.image_url }}"
       alt="{{ listing.title }}">
  <p class="mb-3">
    {{ listing.description }}
  </p>
  <div class="mb-5">
    <h4 class="mb-2">
      ${{ current_price }}
    </h4>
    {% if listing.is_active %}
      <p class="mb-2">
        {{ num_bids }} bid(s) so far.
        {% if leading_bidder %}
          Yours is the highest bid.
        {% else %}
          You are not the leading bidder.
        {% endif %}
      </p>
    {% else %}
      <p class="text-muted mb-2">
        {% if leading_bidder %}
          You won this item!
        {% else %}
          You did not win this item.
        {% endif %}
      </p>
    {% endif %}
    {% if bid_message %}
      <div class="alert alert-danger" role="alert">
        {{ bid_message }}
      </div>
    {% endif %}
    {% if user.is_authenticated and listing.is_active %}
      <form action="{% url 'listing' listing.id %}" method="post">
{% csrf_token %}
        <input type="hidden" name="form_type" value="bid">
          {{ bid_form }}
        <input type="submit" value="Place Bid" class="btn btn-primary">
      </form>
    {% endif %}
  </div>
  <div class="mb-5">
    <h5>
      Details
    </h5>
    <ul>
      <li>
        <strong>Category: </strong><a href="{% url 'category' listing.get_category_display %}">{{ listing.get_category_display }}</a>
      </li>
      <li>
        <strong>Created by: </strong>{{ listing.created_by }}
      </li>
    </ul>
  </div>
  <div class="mb-3">
    <h5 class="mb-2">
      Comments
    </h5>
    {% if user.is_authenticated and listing.is_active %}
      <form action="{% url 'listing' listing.id %}"
            method="post"
            class="mt-2 mb-4">
{% csrf_token %}
        <input type="hidden" name="form_type" value="comment">
          {{ comment_form }}
        <input type="submit" value="Post" class="btn btn-primary">
      </form>
    {% endif %}
    {% for comment in comments %}
      <div class="card my-2">
        <div class="card-body">
          <h6 class="card-title text-muted">
            {{ comment.created_by.first_name }} {{ comment.created_by.last_name }}
          </h6>
          <p class="card-text">
{{ comment.text }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
